@import "assets/sass/helpers/variables.scss";
@import "assets/sass/helpers/mixins.scss";

.MovieItem {
  position: relative;
  .CardContent {
    &:hover {
      cursor: pointer;
      .MovieName {
        color: $color-blue;
      }
      .MovieImg {
        transform: scale(1.1);
      }
    }
    .MovieName {
      transition: all 0.5s;
      @include textStyle($fs-1 - 3, $fw-3, $color-white, $ls-1);
      @include responsiveTo("col-md") {
        @include textStyle($fs-1 - 2, $fw-3, $color-white, $ls-1);
      }
      @include responsiveTo("col-lg") {
        @include textStyle($fs-1 - 1, $fw-3, $color-white, $ls-1);
      }
      @include responsiveTo("col-xl") {
        @include textStyle($fs-1, $fw-3, $color-white, $ls-1);
      }
    }
    .ContainImg {
      position: relative;
      .MovieImg {
        transition: all 0.5s;
        height: 180px;
        @media screen and (min-width: 375px) {
          height: 200px;
        }
        @media screen and (min-width: 414px) {
          height: 220px;
        }
        @media screen and (min-width: 456px) {
          height: 250px;
        }
        @media screen and (min-width: 520px) {
          height: 280px;
        }
        @media screen and (min-width: 576px) {
          height: 230px;
        }
        @media screen and (min-width: 700px) {
          height: 250px;
        }
        @media screen and (min-width: 745px) {
          height: 290px;
        }
        @media screen and (min-width: 800px) {
          height: 295px;
        }
        @media screen and (min-width: 845px) {
          height: 320px;
        }
        @media screen and (min-width: 930px) {
          height: 340px;
        }
        @media screen and (min-width: 992px) {
          height: 300px;
        }
        @media screen and (min-width: 1200px) {
          height: 357px;
        }
      }
      .Overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: -webkit-linear-gradient(
          180deg,
          rgba(0, 18, 50, 0.6) 0%,
          #001232 55%
        );
        opacity: 0.5;
      }
    }
    .CardFooter {
      span {
        @include textStyle($fs-1 - 4, $fw-3, $color-white, $ls-1);
        @include responsiveTo("col-md") {
          @include textStyle($fs-1 - 2, $fw-3, $color-white, $ls-1);
        }
        @include responsiveTo("col-lg") {
          @include textStyle($fs-1 - 1, $fw-3, $color-white, $ls-1);
        }
        @include responsiveTo("col-xl") {
          @include textStyle($fs-1, $fw-3, $color-white, $ls-1);
        }
      }
    }
  }
  &:hover {
    .ViewTrailer {
      opacity: 1;
    }
  }
  .ViewTrailer {
    position: absolute;
    opacity: 0;
    transition: all 0.5s;
    width: 45px;
    height: 45px;
    top: 40%;
    left: 50%;
    transform: translate(-40%, -50%);
    &:hover {
      cursor: pointer;
    }
  }
}
